@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=IM+Fell+French+Canon+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=IM+Fell+French+Canon+SC&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=IM+Fell+French+Canon+SC&family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=IM+Fell+French+Canon+SC&family=Josefin+Sans:wght@400;700&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=IM+Fell+French+Canon+SC&family=Josefin+Sans:wght@400;700&family=Manrope:wght@200&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=IM+Fell+French+Canon+SC&family=Josefin+Sans:wght@400;700&family=Manrope:wght@200&family=Nunito:wght@300;500&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter&family=IM+Fell+French+Canon+SC&family=Josefin+Sans:wght@400;700&family=Manrope:wght@200&family=Nunito:wght@300;500&family=Secular+One&family=Source+Sans+Pro:wght@300&display=swap');

div.wrapper > div{
  border-style:solid;
}
div.wrapper{
  position: absolute;
  width:100%;
  top:200%;
  border-style:solid;
}
div.heading{
  position: absolute; 
  top:0px;
  left:0px;
  right:0px;
  justify-content: center;
  
  min-height:20vh;
  margin:0;
  background-color: rgb(21, 21, 218);
  /* max-width:100%; */
}
/*HEADING                         EXPLORER LA FRANCE*/
div.heading h1{
  position: absolute;
  top:0;
  right:0;
  left:32%;
  line-height: 0%;
  font-size: 66px;
   color:white;
  
}

@media screen and (max-height: 450px) {
  div.heading h1 {
    font-size:small;
  }
 
}
@media screen and (max-width: 375px) {
  div.heading h1 {
    font-size:small;
    left:0%;
  }
 
}
@media screen and (min-width: 1000px) {
  div.heading h1 {
    font-size:56px;
  }
  p[class="name"]{
    top:55%;
    bottom:30%;
    font-size: small;
  }
 
}
@media screen and (max-width: 1000px)
{
  div.instagram{
    top:150%;
    display:block;
    flex-direction: column;
  }
  div[class="insta_grid"]{
    display: none;
    flex-direction: column;
     overflow: scroll;
  }
  h1.insta_travel{
    font-size:45px;
    margin-top:5px;
  }
  div.insta_grid div.natural{
    height:150px;
    width:150px;
   } 
   p.sub1{
     font-size: small;
     margin-right:10%;
   }
   div.heading h1 {
    font-size:40px;
  }

}
div.navbar{
  position: absolute;
  top:10%;
  display: inline;
  left:5%;
}
div.navbar ul{

  position:relative;
  margin:0;
  list-style-type:none;
  color:rgb(255, 255, 255);
  font-size:xx-large;
  font-weight:bolder;
  
}
li.nav{
  text-decoration: none;
  display: inline-block; 
  position: relative;
  padding:15px;
  font-size: 25px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
  font-family: 'Josefin Sans', sans-serif;
  transition: all ease-in 3ms;
}
li:hover{
  color:red;
  cursor: pointer;
}
@media screen and (max-width: 70vw) {
   ul.navbar {
    font-size:small;
  }
 

}
@media screen and (min-width: 500px) 
{
 
 
}
div.waterfall{
  margin-top:0%;
  position: absolute;
  height:120vh;
  width:100%;
  border-style: solid;
}
div.waterfall img{
  top:0;
  left:0;
  display: block;
  position: absolute;
  height:100%;
  width:100%;
}
img[class="eiffel"]
{
  top:0;
  left:0;
  display: block;
  height:120vh;
  width:100%;
}
div.video{
  width:100%;
  position: absolute;
  top:20%;
  left:0%;
}


h1{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  position: absolute;
  top:0%;
  letter-spacing: 5px;
  left:25%;
  font-size:100px;
  color:white;
}
img{
  line-height:0px;
  cursor: pointer;
  image-rendering: -webkit-optimize-contrast; 
  top:10%;
}

p.country,h2{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Secular One', sans-serif;
  font-weight: normal;
  cursor:pointer;
}
i[class="fas fa-angle-double-down"]{

  cursor:pointer;
  margin-left:25px;
  
}
div[class="video"] button{
  border-width:5px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
  position: absolute; 
  font-size:larger;
  font-weight: bolder;
  background-color: transparent;
  border-color:white;
  color:rgb(255, 255, 255);
  top:40%;
  z-index: 1;
  height:60px;
  width:120px;
  left:45.5%;
  border-style: double;
  transition:ease-in-out 1s;
  overflow: hidden;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
div[class="video"] button:hover{
    background-color:white;
    color:transparent;
    color:#000;
    color:rgba(0,0,0,0.5);
}
button:hover{
  
  transition: 1s ease-in-out;
  background-color:white;
  cursor:pointer;
  border-radius:0;
}
button:hover:after{
  width:100%;
}
div[class="coating"]
{
  
  border-style: solid;
}
div.down{
  position: absolute;
  color:white;
  top:70%;
  left:44%;
}
p{
  margin-left:50px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
}
div.visit{
  left:2%;
  position: relative;
  top:67%;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap:5px;
  width:97%;
}
img.curved{
  border-radius: 5px;
  cursor:pointer;
  width:100%;
  height:100%;

}

div.text{
 
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
  color:rgb(0, 0, 0);
  font-size:50px;
  line-height:0px;
  padding-bottom: 10%;
  width: fit-content;
}
div.pics{
  position: relative;
 
  padding:0px;
  width:90%;
  height:90%;
  
}
div.pics1{
  position: relative;

  padding:0px;
  
  
}
div#mid-level{
  left:0;
}
p.name{
  position: absolute;
  top: 75%;
  margin-left:2%;
  color:white;
  font-family: 'Abril Fatface', cursive;
font-family: 'Comforter', cursive;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Josefin Sans', sans-serif;
 font-size: xx-large;
 background-blend-mode:saturation;
 cursor:pointer;

}
div.container{
   position: absolute;
   top:147%;

}
h3.live{
 
  font-family: 'Abril Fatface', cursive;
font-family: 'Comforter', cursive;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Secular One', sans-serif;
font-size: 40px;
margin-left:25%;
padding: 20px 20px 20px 20px;
color:blue;
}
p.describe{
  font-family: 'Abril Fatface', cursive;
font-family: 'Comforter', cursive;
font-family: 'IM Fell French Canon SC', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Secular One', sans-serif;
font-weight: lighter;
text-align: center;
color: red;
margin-bottom:50px;
}
div.experience{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   gap:15px;
   margin-left:5px;
}
div.read{
  position: absolute;
  background-color: rgb(30, 30, 245);
  color:whitesmoke;
  width:130px;
  height:25px;
  text-align: center;
  padding:10px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Secular One', sans-serif;
  border-radius: 25px;
  top:77%;
  right:4%;
  cursor: pointer;
}
div.read:hover {
  background-color: red;
}
div[class="pics1"]:hover img
{
  filter: brightness(105%);
}
p[bold="true"]
{
  font-weight: bolder;
}
 [dull="true"]
{
  filter: brightness(70%);
  width:100%;
  height: 100%;;
}
[dull="true"]:hover
{
  filter: brightness(105%);
} 
h1.travel{
  
  line-height: 0%;
  color:blue;
 
}
div.info{
  position:absolute;
  top:100%;
  left:0;
  right:0;
  margin:0 auto;
  width:100%; 
}
div.necessary{
  display: grid;
  margin-top:0vh;
  margin-left:0%;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 15px;

}

@media screen and (max-width: 1050px) {
  div.necessary,div.visit,div.experience{
    display:flex;
    flex-direction: column;
  }
  h3.live{
    font-size: medium;
    color:black;
  }
  h1.travel
  { 
     margin-top:7%;
     font-size:large;
     font-weight: bolder;
     color:blue;
     font-family: 'Abril Fatface', cursive;
     font-family: 'Comforter', cursive;
     font-family: 'IM Fell French Canon SC', serif;
     font-family: 'Josefin Sans', sans-serif;
     margin-left:0%;
     margin-right: 10%;
  }
  div.info{
    position:absolute;
    display: block;
    left:0;
    right:0;
    width:100vw;
    padding:0px;
    margin:0px;
  }
 
}

p.sub1{
  margin-top: 10px;
  margin-left:35%;
  margin-bottom:5%;
}
div.bullets,p.sub2,p.sub1{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Secular One', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top:10%;
}
p.sub2{
  cursor:pointer;
  margin:0px;
  margin-bottom: 15px;
}
p.sub2:hover i{
 
  color:blue;
}

div.bullets{
  position: relative;
  padding-left: 0px;
  margin:0;
  margin-bottom:0px;
  margin-left:55px;
  border-bottom-style: solid;
  border-color: rgb(184, 170, 170);
  border-width:1px;
  height:fit-content;
  text-align: left;
  max-width:70%;
  
}
i[gap="true"]{

  color:red;
  margin-right:10px;
 
}
i[gap="true"]:hover{
  color:blue;
  cursor:pointer;
}
div.instagram{

  position: absolute;
  top:113%;
  background-color: blue;
  height:fit-content;
  padding-bottom:36px;
  width:100%;
  
  margin-top:150px;
}
a{
  text-decoration: none;
  color: white;
}
div[class="insta_grid"]
{
      display: grid;
      grid-template-columns: repeat(4,4fr);
      grid-gap:10px;
      margin-top:20%;
      max-width:1550px;
      margin-left:10px;
}
div[class="natural"]
{
      position: relative;
      height:295px;
      width:295px;
      margin-top:20px;
      

}
img[class="picture"]
{
  height:100%;
  width:100%;
  margin: 0; 
  filter:brightness(100%);
}

video[class="sub"]
{
  top:0px;
  line-height:0px;
  height:100%;
  width:100%;
  cursor:pointer;
  object-fit:contain;
  background-color: rgb(16, 23, 58);

  filter:brightness(100%);
}
i[class="fab fa-instagram"]
{
  position: absolute;
  left:45%;
  top:45%;
  font-size: xxx-large;
  color:transparent;
  cursor: pointer;
}

div[class="natural"]:hover i[class="fab fa-instagram"]
{
  color:white;
}
div[class="natural"]:hover img{
  filter:brightness(50%);
}
div[class="natural"]:hover video{
  filter:brightness(50%);
}
h1[class="insta_travel"]
{
  margin-bottom:10%;
  float: none;
}
h4.site{
  padding-left:10%;
}
p.country{
  font-size: xxx-large;
  color:white;
  line-height: 0%;
}

ul[class="2ndrow"] > li{
  display: inline-block;
  font-size: xx-large;
  color:white;
  margin-right:15px;
 
}
/*FOOTER               */
footer.footer{
  position: absolute;
  top:100%;
  width: 100%;
  background-color:rgb(33, 31, 31);
  box-sizing:border-box;
}
div.row{
  display: flex;
  flex-wrap:wrap; 
  margin-left: 10%;
 
}
div.row div.content{
   max-width:1170px;
   margin: auto;
} 
p.country{
  color:rgb(255, 255, 255);
  
}
div.col-set{
  width: 25%;
  margin-top:5%;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Comforter', cursive;
  font-family: 'IM Fell French Canon SC', serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Secular One', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:large;
}
div.col-set ul li
{
  list-style-type: none;
  transition: all 0.5s ease;
}
div.col-set ul li:hover
{
  list-style-type: none;
  padding-left:8px;
}
div.col-set h4{
  color:white;
  line-height: 0%;
  font-size:x-large;
 
  
}
div.col-set h3{
  color:white;
  margin-left:40px;
}
div.social-links
{
  display:grid;
  grid-template-columns: repeat(3,2fr);
  grid-gap:10px;
}
div.social-links a{
  height:60px;
  width:75px;
  border-radius: 50%;
  text-align:center;
  padding-top:20px;
  font-size: xx-large;
  transition:all 0.5s ease;

}
div.social-links a:hover{
  
  color:rgb(255, 255, 255);
}
div.social-links a[id="1"]:hover
{
  background-color:rgb(33, 67, 136);
}
div.social-links a[id="2"]:hover
{
  background-color:rgb(14, 124, 192);
}

div.social-links a[id="3"]:hover
{
  background-color:#cd486b;
}

div.social-links a[id="4"]:hover
{
  background-color:rgb(30 215 96);
}

div.social-links a[id="5"]:hover
{
  background-color:rgb(255,0,0);
}
div.social-links a[id="6"]:hover
{
  background-color:#0063dc;
}
@media(max-width:767px)
{
  div.col-set{
    width:50%;
    margin-bottom:30px;
  }
  .row{
    display: flex;
  }
}
@media(max-width:574px)
{
  .row{
    display: grid;
  }
    div.col-set{
        width: 100%;
    }
}










