@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
div.wrapper > div{
  border-style:solid;
}
*{
  transition: all 0.3s;
}
body{
 
  background-color:#fbfff1 ;
}
div.wrapper{
  position: absolute;
  width:100%;
  top:200%;
  border-style:solid;
}
div.heading{
  position: absolute; 
  top:0px;
  left:0px;
  right:0px;
  
   
  min-height:20vh;
  margin:0;
  background-color:#0a2463 ;
  /* max-width:100%; */
}
/*HEADING                         EXPLORER LA FRANCE*/
div.heading h1{
  position: absolute;
  top:25%;
  right:0;
  left:32%;
  line-height: 0%;
  font-size: 66px;
   color:#edf2f4;
  
}

@media screen and (max-height: 450px) {
  div.heading h1 {
    font-size:medium;
    top:25%;
    right:0;
    left:36%;
  }

 
}
@media screen and (max-width: 669px) 
{
  div.heading h1 {
    font-size:medium;
    left:0;
  }
  div.pics1 p
  {
    position: absolute;
    top:0;
    font-size:20px;
  }
  div.pics p
  {
    position: absolute;
    top:0;
    font-size:20px;
  }
  div.pics1 div.read
  {
    
    font-size:10px;
   
    height:fit-content;
    width: fit-content;
  }
  h1.travel{
    
    border-bottom:50px;
    width:100%;
    font-size: small;
    left:0%;
    
  }
  div[class="natural"]:hover i{
    top:50%;
    left: 50%;
    font-size: large;
  }
  div[class="natural"]:hover p.date{
    top:70%;
    left: 20%;
    font-size: small;
  }
  div.vid{
    display:none;
    height:100%;
    width:100%;
    
  }
}
@media screen and (max-width: 1000px) {
  div.heading h1 {
    font-size:small;
    top:0;
    left:0;
  }
  video{
    display: none;
  }
 
 
}
@media screen and (min-width: 1000px) {
  div.heading h1 {
    font-size:56px;
  }
  p[class="name"]{
    top:55%;
    bottom:30%;
    font-size: small;
  }
 
}
@media screen and (max-width: 1000px)
{
  div.instagram{
    top:150%;
    display:block;
    flex-direction: column;
  }
  div[class="insta_grid"]{
    display: none;
    flex-direction: column;
     overflow: scroll;
  }
  h1.insta_travel{
    font-size:45px;
    margin-top:5px;
  }
  div.insta_grid div.natural{
    height:150px;
    width:150px;
   } 
   p.sub1{
     font-size: small;
     margin-right:10%;
   }
   div.heading h1 {
    font-size:40px;
  }


}
div.navbar{
  position: absolute;
  top:10%;
  display: inline;
  left:10%;
}
div.navbar ul{

  position:relative;
  margin:0;
  list-style-type:none;
  color:rgb(255, 255, 255);
  font-size:xx-large;
  font-weight:bolder;
  
}
li.nav{
  text-decoration: none;
  display: inline-block; 
  position: relative;
  padding:15px;
  z-index: 1;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
 
}
li:hover{
  color:#d90429;
  cursor: pointer;
   transition: all 0.3s ease; 
}
@media screen and (max-width: 70vw) {
   ul.navbar {
    font-size:small;
  }
  

}

div.waterfall{
  margin-top:0%;
  position: absolute;
  height:120vh;
  width:100%;
  border-style: solid;
}
div.waterfall img{
  top:0;
  left:0;
  display: block;
  position: absolute;
  height:100%;
  width:100%;
}
img[class="eiffel"]
{
  top:0;
  left:0;
  display: block;
  height:120vh;
  width:100%;
}
div.video{
  width:100%;
  height:100%;
  max-height:100%;
  position: absolute;
  top:20%;
  bottom:0;
  overflow: hidden;
  left:0%;
  background-image: url("Photos/paris4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
video.art1{
  height: 100vh; 
  transform: scale(1.2);
  min-height: 100%;

}
div.vid{
  object-fit: fill;
  transform: scale(1.1);
  background-color:#0a2463;
}
h1{
  font-family: 'Anton', sans-serif;
  position: absolute;
  top:0%;
  letter-spacing: 5px;
  left:25%;
  font-size:100px;
  color:#edf2f4;
}
img{
  line-height:0px;
  cursor: pointer;
  image-rendering: -webkit-optimize-contrast; 
  top:10%;
}

p.country,h2{
 
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: normal;
  cursor:pointer;
}
i[class="fas fa-angle-double-down"]{

  cursor:pointer;
  margin-left:17px;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation:bounce 2s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce{
  0%,20%,50%,80%,100%
  {
    transform:translateY(0);
  }
  40%
  {
    transform:translateY(-30px);
  }
  60%
  {
    transform:translateY(-15px);
  }
}
div[class="video"] button{
  border-width:5px;
  font-family: 'Raleway', sans-serif; 
  position: absolute; 
  font-size:larger;
  font-weight: bolder;
  background-color: transparent;
  border-color:#edf2f4;
  color:rgb(255, 255, 255);
  top:40%;
  z-index: 1;
  height:60px;
  width:120px;
  left:45.5%;
  border-style: double;
  transition:ease-in-out 1s;
  overflow: hidden;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  
}
div[class="video"] button:hover{
    background-color:#edf2f4;
    color:transparent;
    color:#000;
    color:rgba(0,0,0,0.5);
    transition: all 0.3s ease; 
}
button:hover{
  
  transition: 1s ease-in-out;
  background-color:#edf2f4;
  cursor:pointer;
  border-radius:0;
}
button:hover:after{
  width:100%;
}
div[class="coating"]
{
  
  border-style: solid;
}
div.down{
  position: absolute;
  color:#edf2f4;
  top:70%;
  left:45%;
}
p{
  margin-left:50px;
  font-family: 'Raleway', sans-serif;
  
}
div.visit{
  left:2%;
  position: relative;
  top:67%;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  gap:5px;
  width:97%;
}
div.pics > img.curved{
  border-radius: 5px;
  cursor:pointer;
  width:100%;
  height:100%;
  transition: all 0.5s ease;

}
div.pics > img.curved:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */ 
  transform: scale(1.1);
}
div.natural{
  overflow: hidden;
}
div.natural > img.picture{
  transition: all 0.5s ease;
  
} 
div.natural  img.picture:hover
{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */ 
  transform: scale(1.05);
}
img.picture{
  transition: all 0.5s ease;
}


div.text{
 
  font-family: 'Raleway', sans-serif;
  
  color:rgb(0, 0, 0);
  font-size:50px;
  line-height:0px;
  padding-bottom: 10%;
  width: fit-content;
}
div.pics{
  position: relative;
  overflow:hidden;
  padding:0px;
  width:90%;
  height:90%;
  
}
div.pics1{
  position: relative;
  overflow:hidden;
  padding:0px;
  transition:all 0.3s fade-in;
  
  
}
div#mid-level{
  left:0;
 
  position: absolute;
  top:130%;
}
p.name{
  position: absolute;
  top: 75%;
  margin-left:2%;
  color:#edf2f4;
  font-family: 'Barlow Semi Condensed', sans-serif;

 font-size: xx-large;
 background-blend-mode:saturation;
 cursor:pointer;

}
div.container{
   position: absolute;
   top:147%;

}
h3.live{
  font-family: 'Anton', sans-serif;
font-size: 70px;
margin-left:20%;
letter-spacing: 5px;
/* padding: 20px 20px 20px 20px; */
color:#2b2d42;
}
h1::selection,h3::selection {
background-color:blue;
color:white;

}
p::selection{
  color:white;
  background-color: #d90429; 
  font-weight:bolder;
}
p.describe{
  font-family: 'Raleway', sans-serif;
font-weight: lighter;
text-align: center;
color: #d90429;
margin-bottom:50px;
}
div.experience{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   gap:15px;
   margin-left:5px;
}
div.read{
  position: absolute;
  background-color:#00296b;
  color:whitesmoke;
  width:130px;
  height:25px;
  text-align: center;
  padding:10px ;
  padding-top:15px;
  font-family: 'Raleway', sans-serif;
  border-radius: 25px;
  top:81%;
  right:4%;
  cursor: pointer;
}
div.read:hover {
  background-color: #d90429;
  transition: 0.3s all;
}
div[class="pics1"]:hover img
{
  filter: brightness(105%);
  transition:all 0.3s;
}
p[bold="true"]
{
  font-weight: bolder;
}
 [dull="true"]
{
  filter: brightness(70%);
  width:100%;
  height: 100%;;
}
[dull="true"]:hover
{
  filter: brightness(105%);
} 
h1.travel{
  
  line-height: 0%;
  color:#3e92cc ;
 
}
div.info{
  position:absolute;
  top:100%;
  left:0;
  right:0;
  margin:0 auto;
  width:100%; 
}
div.necessary{
  display: grid;
  margin-top:0vh;
  margin-left:0%;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 15px;

}

@media screen and (max-width: 1050px) {
  div.necessary,div.visit,div.experience{
    display:flex;
    flex-direction: column;
  }
  h3.live{
    font-size: medium;
    
  }
  h1.travel
  { 
     margin-top:7%;
     font-size:large;
     font-weight: bolder;
     color:#00296b;
    
     margin-left:10%;
     margin-right: 10%;
  }
  div.info{
    position:absolute;
    display: block;
    left:0;
    right:0;
    width:100vw;
    padding:0px;
    margin:0px;
  }
 
}
p.date{
  position:absolute;
  top: 85%;
  left:20%;
  font-size: medium;
  display: none;
  color:snow;
  font-family: 'Raleway', sans-serif;
}
p.sub1{
  margin-top: 10px;
  margin-left:35%;
  margin-bottom:5%;
}
div.bullets,p.sub2,p.sub1{
  font-family: 'Raleway', sans-serif;
  margin-top:10%;
}
p.sub2{
  cursor:pointer;
  margin:0px;
  margin-bottom: 15px;
  font-size:larger;
}
p.sub2:hover i{
 
  color:#3e92cc ;
}

div.bullets{
  position: relative;
  padding-left: 0px;
  margin:0;
  margin-bottom:0px;
  margin-left:55px;
  border-bottom-style: solid;
  border-color:  #8d99ae;
  border-width:1px;
  height:fit-content;
  text-align: left;
  max-width:70%;
  
}
i[gap="true"]{

  color:#d90429;
  margin-right:10px;
 
}
i[gap="true"]:hover{
  color:#4095d1;
  cursor:pointer;
}
div.instagram{

  position: absolute;
  top:113%;
  background-color: #00296b;
  height:fit-content;
  padding-bottom:36px;
 
  width:100%;
  
  margin-top:150px;
}
div[class="insta_grid"]{
  margin-left:10%;
}
a{
  text-decoration: none;
  color: #edf2f4;
}
div[class="insta_grid"]
{
      display: grid;
      grid-template-columns: repeat(4,4fr);
      grid-gap:10px;
      margin-top:20%;
      max-width:1550px;
      margin-left:10px;
}
div[class="natural"]
{
      position: relative;
      height:295px;
      width:295px;
      margin-top:20px;
      transition:all 0.5s ease-in;

}
*
{
  scroll-behavior:smooth;
}
img[class="picture"]
{
  height:100%;
  width:100%;
  margin: 0; 
  filter:brightness(100%);
}

video[class="sub"]
{
  top:0px;
  line-height:0px;
  height:100%;
  width:100%;
  cursor:pointer;
  object-fit:contain;
  background-color: rgb(16, 23, 58);
  transform:scale(1.1);

  filter:brightness(100%);
}
i[class="fab fa-instagram"]
{
  position: absolute;
  left:45%;
  top:45%;
  font-size: xxx-large;
  color:transparent;
  cursor: pointer;
}

div[class="natural"]:hover i[class="fab fa-instagram"]
{
  color:white;
}
div[class="natural"]:hover img{
  filter:brightness(50%);
  transition:all 0.25s ease;
}
div[class="natural"]:hover p{
   display:inline;
   transition:all 0.25s ease;
}
div[class="natural"]:hover video{
  filter:brightness(50%);
}
h1[class="insta_travel"]
{
  margin-bottom:10%;
  float: none;
}
h4.site{
  padding-left:10%;
}
p.country{
  font-size: xxx-large;
  color:white;
  line-height: 0%;
}

ul[class="2ndrow"] > li{
  display: inline-block;
  font-size: xx-large;
  color:white;
  margin-right:15px;
 
}
/*FOOTER               */
footer.footer{
  position: absolute;
  top:100%;
  width: 100%;
  background-color: #00171f;
  box-sizing:border-box;
}
div.row{
  display: flex;
  flex-wrap:wrap; 
  margin-left: 10%;
 
}
div.row div.content{
   max-width:1170px;
   margin: auto;
} 
p.country{
  color:rgb(255, 255, 255);
  
}
div.col-set{
  width: 25%;
  margin-top:5%;
  font-family: 'Raleway', sans-serif;
  font-size:large;
}
div.col-set ul li
{
  list-style-type: none;
  transition: all 0.5s ease;
}
div.col-set ul li:hover
{
  list-style-type: none;
  padding-left:8px;
}
div.col-set h4{
  color:#fbfff1;
  line-height: 0%;
  font-size:x-large;
 
  
}
div.col-set h3{
  color:#fbfff1;
  margin-left:40px;
}
div.social-links
{
  display:grid;
  grid-template-columns: repeat(3,2fr);
  grid-gap:10px;
}
div.social-links a{
  height:60px;
  width:75px;
  border-radius: 50%;
  text-align:center;
  padding-top:20px;
  font-size: xx-large;
  transition:all 0.5s ease;

}
div.social-links a:hover{
  
  color:rgb(255, 255, 255);
}
div.social-links a[id="1"]:hover
{
  background-color:rgb(33, 67, 136);
}
div.social-links a[id="2"]:hover
{
  background-color:rgb(14, 124, 192);
}

div.social-links a[id="3"]:hover
{
  background-color:#cd486b;
}

div.social-links a[id="4"]:hover
{
  background-color:rgb(30 215 96);
}

div.social-links a[id="5"]:hover
{
  background-color:rgb(255,0,0);
  transition: 0.3s all;
}
div.social-links a[id="6"]:hover
{
  background-color:#0063dc;
}
@media(max-width:767px)
{
  div.col-set{
    width:50%;
    margin-bottom:30px;
  }
  .row{
    display: flex;
  }
}
@media(max-width:574px)
{
  .row{
    display: grid;
  }
    div.col-set{
        width: 100%;
    }
}
::-webkit-scrollbar {
  width: 15px;
  border-radius: 5px;
  background-color: red;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(132, 116, 237);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px blue;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blueviolet;
  cursor:grabbing;
}








